<div class="form-group">
    <label for="desc-<%= id %>">Description</label>
    <input type="text" value="" id="desc-<%= id %>" />

    <label for="amount-<%= id %>">Amount</label>
    <input class="amount" type="text" value="" id="amount-<%= id %>" />
</div>
